{%extends "lifelogger/base.html" %}

{% block extra_css %}
<style>
    div.mainbody {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 33%;
        margin: auto;
        margin-top: 80px;
    }

    div.mainbody h2 {
        text-align: center;
    }
    p {
        font-size: 16px;
    }

    p.warn {
        color: #ff0000;
        font-size: 13px;
    }

</style>
{% endblock %}

{% block extra_script %}
<script>
</script>
{% endblock %}

{% block main_body %}
<div class="mainbody">
    <h2> 上传标注后文件 </h2>
    <p> 请上传标注后的Excel文件</p>
    <form id="upload-form" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
        <input type="file" id="upload" name="upload" /> <br />
        <input type="submit" value="上传" />
    </form>
    {% if messages %}
    <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
    </script>
    {% endif %}
</div>
{% endblock %}
